<!-- MODAL Access -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalAccess">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <section id="accessFormSection">
                {{> access_form}}
            </section>

            <section hidden id="successfulMessageSection">
                {{> successful_message}}
            </section>
        </div>
    </div>
</div>
