<!-- MODAL Access -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalAccess">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-succesfull">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center padding-bottom-20">
                <h4>El formulario fue enviado con &eacute;xito,<br></h4>
                <p>pronto una persona de nuestro equipo se pondra en contacto con tigo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
