<!-- MODAL Access -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalAccess">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" onclick="resetContanctFormDisplay()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                {{> access_form}}
        </div>
    </div>
</div>
