<div class="modal-body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center padding-vertical-20">
            <h4>Tu solicitud ha sido enviada correctamente.</h4>
            <p>Nuestro equipo se pondrá en contacto contigo lo más pronto posible.</p>
        </div>
    </div>
</div>