html{
  margin:0;
  //padding-top: 50px;
  background-color: $body-bg;
  body{
    margin:0;
    section{
      padding:0;
      margin:0;
      position:relative;
      z-index: 10;
      .data{
        padding:10vh 0;
      }
    }
    &.sidebar-opened{
      overflow: hidden;
    }
  }
}