<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="iE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Styles -->
    <link href="assets/stylesheets/styles.css" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="assets/stylesheets/themify-icons.css" rel="stylesheet" type="text/css">

  </head>

  <body>
{{> modal_access}}


{{> modal_contact}}



    <!-- HEADER -->
    <header class="alternative">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/olpays-logo.png" alt="Olpays" width="100%">
            </a>
            <button type="button" class="btn btn-linear visible-sm visible-xs pull-right open-mainbar">
              <span class="ti-menu"></span>
            </button>
          </div>

          <div class="mainbar">
            <button type="button" class="btn btn-linear visible-xs visible-sm pull-right close-mainbar">
              <span class="ti-close"></span>
            </button>

            <div class="cont-navbar">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="producto-line.html">Line</a></li>
                    <li><a href="producto-dots.html">Dots</a></li>
                  </ul>
                </li>
                <li><a href="desarrolladores.html">Desarrolladores</a></li>
                <li class="active"><a href="empresa.html">Empresa</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <button type="button" class="btn btn-linear navbar-btn" data-toggle="modal" data-target="#modalAccess">Inicia Sesi&oacute;n</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- SECTiON -->
    <section id="view-home">

      <div class="jumbotron bg-image-14">
        <div class="container">
          <div class="col-md-7 data">
            <h1><strong>Nosotros</strong></h1>
            <p>Queremos que todos alcancen su m&aacute;ximo potencial y crezcan sin barreras geogr&aacute;ficas, <strong>usando de modo disruptivo la tecnolog&iacute;a para democratizar el comercio electr&oacute;nico</strong>, con soluciones de pagos internacionales para los modelos de negocios m&aacute;s innovadores de internet.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="wave gradient-blue">
          <img src="assets/images/bg-wave.png" srcset="assets/images/bg-wave.svg 2x" alt="" width="100%">
        </div>
      </div>

      <div class="padding-vertical-40">
        <div class="container">
          <div class="row">
            <div class="col-md-8 feature">
              <i class="ti-world icon"></i>
              <p><strong>Disminuimos la brecha entre comunidades previamente relegadas</strong>, principalmente en mercados emergentes.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 feature">
              <i class="ti-image icon"></i>
              <p><strong>Permitimos que los comerciantes</strong> de estos mercados emergentes, <strong>trasciendan fronteras comerciales</strong> y penetren otros mercados.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 feature">
              <i class="ti-tablet icon"></i>
              <p>Con nuestro modelo innovador y disruptivo, nos convertimos en un <strong>int&eacute;rprete perfecto de las reales necesidades del mercado</strong>, brindando soluciones que hacen m&aacute;s eficiente el uso y acceso a instrumentos dentro del comercio electr&oacute;nico.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-line alternative">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 bg-image-15 gradient-subbrand-line"></div>
            <div class="col-md-6">
              <div class="box">
                <div class="box">
                  <p><strong>Proporcionamos soluciones globales</strong>, necesarias para construir negocios, aceptar pagos y facilitar el comercio internacional. Somos la forma m&aacute;s sencilla de manejar pagos para sus grandes ideas, a trav&eacute;s de cualquier dispositivo y muchos m&eacute;todos de pago. Y <strong>estamos aqu&iacute; para usted, con conceptos innovadores y procesos sencillos.</strong></p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-vertical-30">
        <div class="container">
          <div class="col-md-12">
            <h2 class="subtitle">Nuestro Equipo</h2> <br>
          </div>

          <div class="col-md-3 profile-team profile-empty"></div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Germ&aacute;n Gimenez <br> Cofounder & CEO <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/germangimenez1/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                    <a href="https://twitter.com/ger_gimenez" target="_blank" class="btn btn-linear"><i class="ti-twitter"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Adriel.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Adriel Araujo <br> Cofounder & COO <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/adrielaraujo/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                    <a href="https://twitter.com/AdrielAraujoAr" target="_blank" class="btn btn-linear"><i class="ti-twitter"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Pogui.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Franco Poveda <br> CTO <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/franco-poveda-8b960279/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Nicolas.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Nicol&aacute;s Ochoa <br> CFO <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/nicolasochoaok/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Jose.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Jos&eacute; Manuel Olivos <br> Country Manager Chile <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/jmolivos/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Tom.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Tom Clementson <br> Country Manager UK <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/tomclementson/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 profile-team profile-empty"></div>

          <div class="col-md-3 profile-team profile-empty"></div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                                 <br> Developer <br>
                  <div class="profile-team-btn">
                    <a href="" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Fede.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Federico Hernandez <br> Developer <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/fedehernandez/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Leandro.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Leandro Gargantini <br> Developer <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/leandro-gargantini-49303a122/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Seba.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Sebastian Matamoros <br> Project Manager <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/sebasmatamoros/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Karim.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Carim Manzur <br> SysAdmin <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/carim-manzur-16a4aa93/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Copo.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Kevin Gerez <br> Administration Manager <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/kevin-gerez-89bab2bb/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Valentina.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Valentina Federici<br>Compliance Analyst<br>
                   <div class="profile-team-btn">
                    <a href="" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 profile-team profile-empty"></div>

          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Stanley Skoglund <br> Compliance Officer <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/stanley-skoglund-591652/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/Julian.jpg') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Juli&aacute;n Sevillano <br> Advisor <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/julian-sevillano-855210/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="profile-team" style="background:#eee url('assets/images/team/') no-repeat center center;">
              <div class="profile-team-social-cont">
                <div class="profile-team-social">
                  Nestor Garc&iacute;a <br> Advisor <br>
                  <div class="profile-team-btn">
                    <a href="https://www.linkedin.com/in/nestorgarcia/" target="_blank" class="btn btn-linear"><i class="ti-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="padding-vertical-30">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="subtitle">¿D&oacute;nde estamos?</h2>
              <h3>Sede Central: </h3>
              <p>Linka.space, Palero Mart&iacute;n 20, Mendoza, Argentina. CP 5500.</p>

              <h3>Reino Unido: </h3>
              <p>Office 32, 19 - 21 Crawford Street, London W1H 1PJ.</p>

              <h3>Chile: </h3>
              <p>Ebro 2740, oficina 306, Las Condes, Ciudad de Santiago.</p>

              <hr>
              <div class="text-right">
              </div>
            </div>
            <div class="col-md-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53609.02109420017!2d-68.89353862013292!3d-32.883258240486974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e093ec45179bf%3A0x205a78f6d20efa3a!2sMendoza%2C+Capital%2C+Mendoza!5e0!3m2!1ses-419!2sar!4v1489414954408" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </section>

    <footer>
     <div class="padding-vertical-30">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>¿Listo para <strong>empezar</strong>?</h2>
              <p><strong>Es muy f&aacute;cil.</strong></br>
              Cont&aacute;ctate con nosotros y te <strong>crearemos una cuenta a medida.</strong></p>
              <br>
              <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#modalContact">Solicitar Acceso</a>
            </div>
          </div>
        </div>
      </div>

      <div class="sub-bg-footer">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <h5>Seguridad</h5>
                <ul class="list-unstyled">
                  <li><a href="licencia.html">Licencias</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <h5>Productos</h5>
                <ul class="list-unstyled">
                  <li><a href="producto-line.html">Line</a></li>
                  <li><a href="producto-dots.html">Dots</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <h5>Desarrolladores</h5>
                <ul class="list-unstyled">
                  <li><a href="http://docs.olpays.com">Documentaci&oacute;n</a></li>
                  <li><a href="http://docs.olpays.com">Referencia API</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <h5>Empresa</h5>
                <ul class="list-unstyled">
                  <li><a href="empresa.html">Nosotros</a></li>
                  <li><a href="terminos-y-condiciones.html">T&eacute;rminos y condiciones</a></li>
                  <li><a href="politicas-de-privacidad.html">Pol&iacute;tica de privacidad</a></li>
                </ul>
              </div>
              <div class="col-md-2 ">
                <a href="programa-crossborder.html" class="btn btn-primary text-left">CONOCE<br>NUESTRO<br>PROGRAMA<br>CROSSBORDER</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mini-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="index.html">
              <img src="assets/images/olpays-logo.png" alt="Olpays" width="150"></a>
            </div>
            <div class="col-md-4 pull-right text-right social-footer">
              <ul class="list-unstyled list-inline">
                <li><a class="btn btn-primary" href="https://www.linkedin.com/company-beta/10092169/" target="_blank"><i class="ti-linkedin"></i></a></li>
                <li><a class="btn btn-primary" href="https://www.facebook.com/olpays/ " target="_blank"><i class="ti-facebook"></i></a></li>
                <li><a class="btn btn-primary" href="https://twitter.com/Olpays_Ok" target="_blank"><i class="ti-twitter-alt"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script src="assets/javascripts/fx.js"></script>

  </body>
</html>