<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="iE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/olpays-logo.ico">
    <title>Olpays</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Styles -->
    <link href="assets/stylesheets/styles.css" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="assets/stylesheets/themify-icons.css" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="assets/stylesheets/extra_styles.css" rel="stylesheet" type="text/css">

</head>

<body>

{{> modal_sigin}}

{{> modal_access}}

{{> header}}

<!-- SECTiON -->
<section id="view-home">

    <div class="jumbotron bg-image-1 gradient-blue">
        <div class="container">
            <div class="col-md-11 data">
                <h1>¿Por qu&eacute; <strong>elegirnos</strong>?</h1>
                <p>Desarrollamos <strong>soluciones de pagos</strong> para los modelos de negocios m&aacute;s innovadores de internet.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#modalAccess">Comienza ahora</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="wave bg-line">
            <img src="assets/images/bg-wave.png" srcset="assets/images/bg-wave.svg 2x" alt="" width="100%">
        </div>
    </div>



    <div class="padding-vertical-40">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 feature">
                    <i class="ti-shopping-cart-full icon"></i>
                    <h4>Soluci&oacute;n Global</h4>
                    <p>Trabajamos con las mejores herramientas para ayudarte a ofrecer tus productos o servicios en cualquier parte del mundo. <strong>Todo esto desde una &uacute;nica API.</strong></p>
                </div>
                <div class="col-md-5 col-md-offset-0 feature">
                    <i class="ti-stats-up icon"></i>
                    <h4>Escala tu negocio, no tu infraestructura interna</h4>
                    <p>Creamos <strong>soluciones personalizadas</strong> que maximizan las oportunidades de negocio para empresas con los modelos m&aacute;s innovadores.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1 feature">
                    <i class="ti-map-alt icon"></i>
                    <h4>M&uacute;ltiples m&eacute;todos de extracci&oacute;n</h4>
                    <p><strong>Olpays</strong> ofrece desde transferencias bancarias hasta tarjetas prepagas. <strong>Tienes libertad para elegir el m&eacute;todo m&aacute;s conveniente.</strong></p>
                </div>
                <div class="col-md-5 col-md-offset-0 feature">
                    <i class="ti-lock icon"></i>
                    <h4>Simplemente Seguro</h4>
                    <p><strong>Ofrecemos una soluci&oacute;n robusta y segura</strong> que no requiere ENVIAR tu cliente a un sitio distinto al tuyo, mejorando as&iacute; las tasas de conversi&oacute;n.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-vertical-30 gradient-subbrand-line mate block-subbrand">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="cont-subbrand">
                        <img src="assets/images/Linebeta.svg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>¿<strong>Vendes</strong> productos o servicios <strong>por internet</strong>? <br> ¿<strong>Cobras</strong> suscripciones?</h2>
                    <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAccess">Prueba Line</a>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-vertical-30 gradient-subbrand-dots mate block-subbrand">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="cont-subbrand">
                        <img src="assets/images/Dotspronto.svg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>¿Tienes una plataforma donde re&uacute;nes <strong>clientes con proveedores</strong>?</h2> <br>
                    <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAccess">Prueba Dots</a>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-vertical-30 gradient-blue block-program bg-image-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Programa <strong>Crossborder</strong></h2>
                    <p>A fin de permitir que empresas de Latinoam&eacute;rica puedan superar las trabas regulatorias y operar internacionalmente hemos elaborado Olpays Crossborder, un conjunto de herramientas dise&ntilde;adas <strong>para emprendedores que buscan iniciar, dirigir y hacer crecer negocios globales a trav&eacute;s de internet.</strong></p> <br>
                    <a href="programa-crossborder.html" class="btn btn-primary btn-lg">Conoce nuestro programa</a>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-vertical-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Conf&iacute;an en nosotros</h3> <br>
                    <div class="helper-display-inline-block">
                        <img src="assets/images/brand-ccc.jpg" alt="" width="200">
                    </div>
                    <div class="helper-display-inline-block">
                        <img src="assets/images/brand-seedstars.jpg" alt="" width="200">
                    </div>
                    <div class="helper-display-inline-block">
                        <img src="assets/images/brand-controlcase.jpg" alt="" width="200">
                    </div>
                    <div class="helper-display-inline-block">
                        <img src="assets/images/brand-imaginelab.jpg" alt="" width="200">
                    </div>
                    <div class="helper-display-inline-block">
                        <img src="assets/images/brand-finnovista.jpg" alt="" width="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<footer>
    <div class="padding-vertical-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>¿Listo para <strong>empezar</strong>?</h2>
                    <p><strong>Es muy f&aacute;cil.</strong></br>
                        Cont&aacute;ctate con nosotros y te <strong>crearemos una cuenta a medida.</strong></p>
                    <br>
                    <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#modalAccess">Solicitar Acceso</a>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-vertical-30 block-backrest">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Hablan sobre Olpays</h3> <br>
                    <div class="brand-backrest">
                        <a target="_blank" href="http://www.clarin.com/next/conocieron-start-up-night-buenos-aires_0_rJlM8v2Me.html">
                            <img src="assets/images/brand-clarin.jpg" alt="" width="250">
                        </a>
                    </div>
                    <div class="brand-backrest">
                        <a target="_blank" href="http://www.lanacion.com.ar/1833363-los-emprendedores-que-cambian-el-mapa-del-turismo">
                            <img src="assets/images/brand-lanacion.jpg" alt="" width="250">
                        </a>
                    </div>
                    <div class="brand-backrest">
                        <a target="_blank" href="http://pulsosocial.com/2015/10/07/nxtp-labs-selecciono-12-startups-para-su-programa-pionero-de-aceleracion-en-fintech/">
                            <img src="assets/images/brand-pulsosocial.jpg" alt="" width="250">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-bg-footer">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <h5>Seguridad</h5>
                        <ul class="list-unstyled">
                            <li><a href="licencia.html">Licencias</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Productos</h5>
                        <ul class="list-unstyled">
                            <li><a href="producto-line.html">Line</a></li>
                            <li><a href="producto-dots.html">Dots</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Desarrolladores</h5>
                        <ul class="list-unstyled">
                            <li><a href="http://docs.olpays.com">Documentaci&oacute;n</a></li>
                            <li><a href="http://docs.olpays.com">Referencia API</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Empresa</h5>
                        <ul class="list-unstyled">
                            <li><a href="empresa.html">Nosotros</a></li>
                            <li><a href="terminos-y-condiciones.html">T&eacute;rminos y condiciones</a></li>
                            <li><a href="politicas-de-privacidad.html">Pol&iacute;tica de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 ">
                        <a href="programa-crossborder.html" class="btn btn-primary text-left">CONOCE<br>NUESTRO<br>PROGRAMA<br>CROSSBORDER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="index.html">
                        <img src="assets/images/olpays-logo.png" alt="Olpays" width="150"></a>
                </div>
                <div class="col-md-4 pull-right text-right social-footer">
                    <ul class="list-unstyled list-inline">
                        <li><a class="btn btn-primary" href="https://www.linkedin.com/company-beta/10092169/" target="_blank"><i class="ti-linkedin"></i></a></li>
                        <li><a class="btn btn-primary" href="https://www.facebook.com/olpays/ " target="_blank"><i class="ti-facebook"></i></a></li>
                        <li><a class="btn btn-primary" href="https://twitter.com/Olpays_Ok" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- include all compiled plugins (below), or include individual files as needed -->
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascripts/fx.js"></script>
<script src="assets/javascripts/forms_validation.js"></script>
<script src="assets/javascripts/jquery-validation/dist/jquery.validate.min.js"></script>


</body>
</html>
